body {
    user-select: none;
    display: flex;
    flex-direction: column;
    background-color: #2e2e2e;
}

#controller {
    z-index: 1;
    background-color: #f3f3f3;
    border-radius: 3px;
    margin: 8px;
    height: auto;
    display: flex;
    width: 900px;
}

#controller > div {
    margin: 3px;
}

#controller > div > button {
    margin: 3px;
    background-color: #e6e6e6;
    border: none;
    border-radius: 3px;
    font-family: 'monospace';
    font-size: 16px;
    cursor: pointer;
}

#canvas-container {
    position: relative;
    margin: 8px;
    width: 900px;
    height: 1130px;
}

.description {
    z-index: 1;
    background-color: #f3f3f3;
    border-radius: 3px;
    margin: 8px;
    height: auto;
    width: 900px;
}
