body {
    user-select: none;
    display: flex;
    flex-direction: column;
    background-color: #030303;
}

#controller {
    z-index: 1;
    background-color: white;
    border-radius: 3px;
    margin: 8px;
    height: auto;
    display: flex;
    width: 900px;
}

#controller > div {
    margin: 3px;
}

#controller > div > button {
    margin: 3px;
    border: none;
    border-radius: 3px;
    font-family: 'monospace';
    font-size: 16px;
    cursor: pointer;
}

#canvas {
    position: relative;
    margin: 8px;
    width: 900px;
    height: 1130px;
}

#canvas img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: auto;
}

#cred {
    font-family: 'monospace';
    margin: 0;
    z-index: 2;
    position: absolute;
    color: white;
    font-size: 16px;
    right: 0;
    top: 0;
}

#sukumizu {
    filter: hue-rotate(0deg) saturate(100%) brightness(100%);
}

.nakame {
    opacity: 10%;
}

.base-hi-dodge {
    mix-blend-mode: color-dodge;
}

#base-shadow-multiply {
    opacity: 65%;
    mix-blend-mode: multiply;
}

#base-hi2-dodge {
    filter: hue-rotate(0deg) saturate(100%) brightness(100%);
    mix-blend-mode: color-dodge;
}

.harness-shadow {
    mix-blend-mode: multiply;
}

#harness1 {
    mix-blend-mode: overlay;
}

#harness2 {
    mix-blend-mode: multiply;
}

#harness5 {
    mix-blend-mode: multiply;
}

#hair1 {
    mix-blend-mode: multiply;
}

#biribiri {
    display: none;
}

#gun {
    display: none;
}

#biribiri1 {
    mix-blend-mode: hard-light;
}

.description {
    font-family: 'monospace';
    color: white;
    font-size: 16px;
    margin: 8px;
}