body {
    user-select: none;
    display: flex;
    flex-direction: column;
    background-color: #030303;
}

#controller {
    z-index: 1;
    background-color: white;
    border-radius: 3px;
    margin: 8px;
    height: auto;
    display: flex;
    width: 900px;
}

#controller > div {
    margin: 3px;
}

#controller > div > button {
    margin: 3px;
    border: none;
    border-radius: 3px;
    font-family: 'monospace';
    font-size: 16px;
    cursor: pointer;
}

#canvas {
    position: relative;
    margin: 8px;
    width: 900px;
    height: 1130px;
}


.description {
    font-family: 'monospace';
    color: white;
    font-size: 16px;
    margin: 8px;
}